better-apidoc==0.1.2
jupyter==1.0.0
mock==2.0.0
nbsphinx==0.3.1
nbstripout==0.3.1
nbval==0.9.0
pipdeptree==0.11.0
pyserial==3.4
pytest==3.4.0
pytest-pylint==0.8.0
python-dateutil==2.6.1
pytz==2017.3
pyusb==1.0.2
recommonmark==0.4.0
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-bibtex==0.3.6
sphinxcontrib-napoleon==0.6.1
texttable==1.2.1
wheel==0.30.0
